body {
  font-family: "Segoe UI", sans-serif;
  margin: 20px;
  background: #f5f5fa;
  color: #333;
}
h1 {
  font-size: 24px;
}

.hue-bg .noUi-connects {
  background: linear-gradient(to right, red, yellow, lime, cyan, blue, magenta, red);
  mask-image: linear-gradient(to right, black, black); /* default full visible */
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

div[fr] {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}

div[fc] {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

/* .noUi-connect {
  background: rgba(0, 0, 0, 0) !important;
} */
.flex-top {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}
.controls {
  position: sticky;
  top: 0;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 600px;
  min-width: 400px;
  margin: 50px;
}
.controls label {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}
.image-grid,
.image-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.image-list {
  flex-direction: column;
}
canvas {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.image-grid > div,
.image-list > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-list > div {
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
textarea {
  width: 300px;
  height: 180px;
  font-family: monospace;
  padding: 8px;
}
input[type="text"] {
  font-size: 14px;
  padding: 4px;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
}
#jsonOutput {
  height: 320px;
  width: 200px;
}
