* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background: #f5f5fa;
  color: #333;
}
h1 {
  font-size: 24px;
}

.hue-bg .noUi-connects {
  background: linear-gradient(to right, red, yellow, lime, cyan, blue, magenta, red);
  mask-image: linear-gradient(to right, black, black); /* default full visible */
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

div[fr] {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}

div[fc] {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

/* .noUi-connect {
  background: rgba(0, 0, 0, 0) !important;
} */
.flex-top {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}
.controls {
  height: 260px;
  position: sticky;
  /* border: 0.5px solid gray;
  border-radius: 10px; */
  /* padding: 30px 50px 20px 20px; */
  padding: 20px;
  padding-top: 30px;
  top: 0;
  left: 0;
  right: 0;
  align-self: flex-start;
  background-color: #f5f5fa;
  display: inline-block;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  /* max-width: 600px;
  min-width: 400px; */
  width: 100%;
  margin: 0;
  border-bottom: 0.5px solid gray;
  /* margin: 10px; */
  font-size: 13px;
}

.controls label {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.box {
  display: inline-block;
}
.image-grid,
.image-list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

canvas {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.image-list.image-container > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  align-items: center;
  /* width: 700px; */
}

.image-container canvas {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.image-container input {
  grid-column: 2;
  grid-row: 2;
  margin: 5px;
}

.image-container span {
  font-family: monospace;
  font-size: 14px;
  font-weight: 600;
  grid-column: 1;
  grid-row: 2;
  margin: 5px;
}
/* 
.image-grid > div,
.image-list > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-list > div {
  flex-direction: row;
  align-items: center;
  gap: 12px;
} */
textarea {
  width: 200px;
  height: 100%;
  /* height: 180px; */
  font-family: monospace;
  padding: 8px;
}
input[type="text"] {
  font-size: 14px;
  padding: 4px;
  width: 100px;
  height: 26px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
}
